@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
mog'sus
<table class="table">
	<tr>
		<th>
			Название
		</th>
		<th>
			Описание
		</th>
		<th>
			Вариантов
		</th>
		<th>
			Статус
		</th>
		<th>
			Начинается
		</th>
		<th>
			Заканчивается
		</th>
		<th>
			Действия
		</th>
	</tr>
	<tbody>
		@foreach (Poll poll in ViewBag.Polls)
		{
			<tr>
				<td>@poll.Name</td>
				<td>@poll.Description</td>
				<td>@poll.OptionsCount.ToString()</td>
				<td>@poll.Status.ToString()</td>
				<td>@poll.StartTime.ToString()</td>
				<td>@poll.EndTime.ToString()</td>
				<td><a class="btn btn-primary" href="/Admin/Edit/@poll.Id" id="edit-btn">Редактировать</a> <a class="btn btn-danger delete-btn" href="#" data-name="@poll.Name" data-id="@poll.Id">Удалить</a></td>
			</tr>
		}
	</tbody>
</table>
<a href="Admin/Create" class="btn btn-success">Создать новое голосование</a>


<div class="modal" tabindex="-1" id="delete-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Удалить голосование?</h5>
			</div>
			<div class="modal-body">
				<p id="modal-text"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="$('#delete-modal').hide()">Отменить</button>
				<button type="button" class="btn btn-primary" id="confirm-btn" >Да</button>
			</div>
		</div>
	</div>
</div>

<script>
		var toDelete = 
		$(document).ready(function () {
		$(".delete-btn").click((event) => {
			var deleteModal = new bootstrap.Modal(document.getElementById('delete-modal'));
			$("#modal-text").text("Действительно удалить голосование \"" + event.target.getAttribute("data-name") + "\"?");
			let id = event.target.getAttribute("data-id");
			$("#confirm-btn").off("click");
			$("#confirm-btn").click(() => {
				fetch('/Admin/Delete/' + id.toString(), {
					method: "POST",
					body: id
				})
					.then((response) => {
						if (response.status == 200) {
							document.location.reload();
						}
						else {
							alert("Ошибка при удалении голосования: " + response.status + " " + response.statusText);
						}
					})
					.then((data) => {
						console.log(data);
					});
			});
			deleteModal.show();

		})
	});
</script>