@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Poll
@using MyAut.Models
<div class="d-flex justify-content-between">
	<div>
		<h1>@Model.Name</h1>
		<p>@Model.Description</p>
	</div>
	<p>Всего голосов: @ViewBag.Total</p>
</div>
	
	<link href="~/css/style.css" rel="stylesheet" type="text/css" />
<style>
	.voted {
		border: 2px solid rgb(27,148,20);
	}
</style>

<form method="post">

	@foreach (Option option in Model.Options)
	{
		<div class="container card mb-3 @if (option.Id == ViewBag.VotedId) { @Html.Raw("voted") } ">
			<div class="row mt-3 mb-3 ml-2 mr-2">
				<div class="col-sm-1 text-center align-middle d-flex justify-content-center">
					@if (!ViewBag.Voted || (ViewBag.Voted && option.Id == ViewBag.VotedId))
					{
						<input type="radio" class="radio-big" width="10" height="10" name="optionId" value="@option.Id" @if (option.Id == ViewBag.VotedId) { @Html.Raw("checked")   }/>
					}

				</div>
				<div class="col-sm-9">
					<h1 class="mt-3 mb-3">@option.Name</h1>
					<p class="text-muted small">@option.Description</p>
					<div class="progress mt-3" mb-3>
						<div class="progress-bar" role="progressbar" style="width: @(ViewBag.Percentages[option.Id].ToString()+'%') " aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div> 
					</div><span class="font-weight-bold"> @(ViewBag.Percentages[option.Id].ToString()+'%')</span>

				</div>

			</div>
		</div>

	}
	




	<input type="hidden" value="@Model.Id" name="pollId" /><div class="text-right">
	@if (!ViewBag.Voted)
	{

		<input type="submit" class="btn btn-success" value="Голосовать" asp-action="CastVote" />

	}
	else
	{
			<p class="text-muted">Вы уже голосовали</p>
	}
</div>
</form>	
